# Supabase Credentials
SUPABASE_URL=https://yiryqiajzanmdobwzjwk.supabase.co
SUPABASE_KEY=sb_publishable_L_WiEWk5QvrockDATsgZSQ_jsFIae8Z

# Database Connection String (alt to direct API)
DATABASE_URL="postgresql://postgres:MYqrTW0tzMsvcDCY@db.yiryqiajzanmdobwzjwk.supabase.co:5432/postgres"
